body{
	width: 100%;
	padding: 0px;
	margin: 0px;
}
h1,h2,h3,h4,h5,h6{
	font-family:"Times New Roman", Georgia, Serif;
	text-decoration: underline;
}
/*        Header       */
header,article,h1,h2,h3,h4,h5,h6,ul,li,footer{
	padding: 0px;
	margin: 0px;
}
ul{
	margin-left: 20px;
	margin-top: 20px;
}
/*li::first-letter {
    color: #ff0000;
    font-size: xx-large;
}*/
.heading-box{
	padding: 10px 10px 10px 10px;
	background-color: #99e6ff;
}
.content-wrapper{
	padding: 0px 20px 0px 20px;
}
.center{
	text-align: center;
}
.inner-box{
	clear: both;
	overflow: hidden;
}
.personal-info{
	float:right;
	width: 20%;
	margin-top: 20px;
}
span{
	display: block;
}
img{
	width: 10%;
}
/*        Article       */
.article-box{
	border-bottom: 1px solid #008fb3;
	padding: 20px 0px 20px 0px;
	margin-bottom: 5px;
}
/*.article-box : last-child{
	border: none;
}*/
.table-wrapper{
	margin-top: 20px;
}
.text-bold{
	font-weight: bold;
	display: inline;
}
table{
	font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
thead{
	background-color: #ffc299;
}
td,th,tr{
	border: 1px solid #b34700;
    text-align: left;
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #ffc299;
}
/*   Footer    */
footer{
	padding: 20px 0px 20px 0px;
}
footer span{
	display: inline;
}
footer span b{
float: right;
}













